* {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    font-weight: 500;
}

.custom-jumbotron {
    background: linear-gradient(cornflowerblue 20%, white);
}

#cityHeader {
    font-size: 34px;
}

.card-header {
    text-align: center;
}

.cardLine {
    margin: 10px;
}

.uvBox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 150px;
    height: 50px;
    border-radius: 5x;
    text-align: center;
    color:white;
}

.custom-card-body {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fiveDayCard {
    border-radius: 10px;
    border: 1px solid black;
    background: rgb(184, 172, 174);
}

.custom-container {
background: indigo;
}
.uvPurple {
    background: purple;
}

.uvRed {
    background: red;
}

.uvOrange .uvYellow{
    background: rgb(228, 126, 9);
}

.uvYellow{
    background: gold;
}

.uvGreen {
    background: green;
}

.uvText {
    padding: 5px;
}

#fiveDay {
    background: linear-gradient(#7B4E96 10%, #C59C90);
}

#cityBar {
    background: rgb(148, 125, 179);

}

.btn {
    box-shadow:  1px 1px 2px black;
}

.cityBtn:hover {
    background: #d4d4d4;
}

.newCityRow {
    width: 80%;
    align-items: center;
    justify-content: center;
}

#badNewCity {
    display:  none;
    font-size: 16px;
}

.todayCard {
    background: cornflowerblue;
}



@media screen and (max-width: 992px)
{
    .custom-container {
        flex-direction: column;
    }
}