* {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    font-weight: 500;
}

header {

}

nav {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


li {

}

body {

}

footer {

}



.cardLine {
    margin: 10px;
}

.uvBox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 150px;
    height: 50px;
    border-radius: 5x;
    text-align: center;
    color:white;
}

.uvPurple {
    background: purple;
}

.uvRed {
    background: red;
}

.uvOrange .uvYellow{
    background: rgb(228, 126, 9);
}

.uvYellow{
    background: gold;
}

.uvGreen {
    background: green;
}

.uvText {
    padding: 5px;
}


#fiveDay {
    background-color: aquamarine;
    background: aquamarine;
    border: 3px solid magenta;
}

#cityBar {
    background-color: darkkhaki;
    background: darkkhaki;
    border: 3px solid purple;
    

}

.newCityRow {
    width: 80%;
    align-items: center;
    justify-content: center;

}

#badNewCity {
    display:  none;
    font-size: 16px;
}


.todayCard {
    background: cornflowerblue;
}

.fiveDayCard {
    background: rgb(211, 135, 150);
}


@media screen and (max-width: 992px)
{
    .custom-container {
        flex-direction: column;
    }
}